/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PUSATKAN BODY */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  font-family: 'Segoe UI', sans-serif;
}

/* KOTAK UTAMA */
.container {
  background: white;
  padding: 30px 35px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

/* JUDUL */
h2 {
  color: #0077cc;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
}

/* LABEL DATA */
.data-label {
  font-size: 18px;
  margin: 10px 0;
}

/* STATUS KONEKSI */
.status {
  margin-top: 25px;
  padding: 10px;
  font-weight: bold;
  border-radius: 8px;
  background-color: #eee;
  color: red;
}
.status.connected {
  background-color: #d4ffd4;
  color: green;
}
